* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d83133;
  clip-path: circle(120px at center);
  transition: all 0.5s ease-in;
}

.card:hover .circle::before {
  clip-path: circle(400px at center);
  background: #0065c3;
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 300px;
  transition: all 0.5s ease-in;
  pointer-events: none;
}

.card:hover img {
  left: 72%;
  max-height: 500px;
}

.card .content {
  position: relative;
  width: 50%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s ease-in;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  color: white;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card .content p {
  color: white;
}

.card .content a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  color: #111;
  font-weight: 700;
}

@media (max-width: 991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }

  .card:hover {
    height: 600px;
  }

  .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }

  .card:hover img {
    top: 70%;
    left: 50%;
    height: 320px;
  }
}

@media (max-width: 350px) {
  .card img {
    max-height: 250px;
  }
  .card:hover img {
    top: 70%;
    left: 50%;
    max-height: 250px;
  }

  .card .circle::before {
    height: 75%;
    clip-path: circle(100px at center);
  }

  .card:hover .circle::before {
    clip-path: circle(300px at 0% 0%);
  }
}
